/* Brand Colors ------------------------------------------------*/
$font-light: #f4f4f4;
$font-dark: #232831;
$font-orange: #f4ba91;
$font-violet: #b5caff;
$font-dark-violet: #676b90;
$font-dark-blue: #3c469c;
$font-shadow: rgba(195, 201, 216, 0.2);
$first-screen-overlay: rgba(103, 107, 144, 0.5);
$projects-overlay: rgba(103, 107, 144, 0.3);
