.projects-container {
  position: relative;

  &::after {
    content: '';
    position: fixed;
    bottom: 0;
    left: 50.5%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 60vh solid transparent;
    border-right: 60vh solid transparent;
    border-bottom: 100vh solid $first-screen-overlay;

    @media (max-width: 767px) {
      border-left: 58vh solid transparent;
      border-right: 58vh solid transparent;
      border-bottom: 96vh solid $first-screen-overlay;
    }
  }
}

.projects {
  background-image: linear-gradient($first-screen-overlay,  $first-screen-overlay),
  url('../images/backgrounds/bg-screen1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  @media (max-width: 767px) {
    background-image: linear-gradient($first-screen-overlay,  $first-screen-overlay),
    url('../images/backgrounds/bg-screen-mobile.jpg');
    background-position: center top;
  }
}

.project-1 {
  background-image: linear-gradient($projects-overlay,  $projects-overlay),
  url('../images/backgrounds/bg-project1.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.project-2 {
  background-image: linear-gradient($projects-overlay,  $projects-overlay),
  url('../images/backgrounds/bg-project2.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.project-3 {
  background-image: linear-gradient($projects-overlay,  $projects-overlay),
  url('../images/backgrounds/bg-project3.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.project-list-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.projects-list {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 286px;
  max-width: 96%;
  font-family: 'Fahkwang', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  color: $font-light;

  @media (max-width: 767px) {
    top: 57%;
    font-size: 32px;
    line-height: 38px;
  }
}

.projects-list-item {
  margin: 0 0 45px 0;
  transition: 100ms;

  @media (max-width: 767px) {
    margin: 0 0 24px 0;
  }

  &.selected {
    color: $font-orange;
  }

  &:last-of-type {
    margin: 0;
  }

  &:hover {
    color: $font-dark;
  }
}
